*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: 0;
}
a{
    text-decoration: none;
}
ul, ol{
   list-style-type: none; 
}
img{
    vertical-align: middle;
}
.clr{
    clear: both;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
/* ================= Navbar part css start =================== */
#navbar{
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
}
.logo{
    width: 200px;
    float: left;
}
.logo img{
    padding-top: 34px;
}
.menu{
    width: 970px;
    float: left;
    text-align: right;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    padding-left: 43px;
    line-height: 90px;
    text-transform: uppercase;
    color: #ffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    transition: 0.4s;
}
.menu ul li a:hover{
    color: #28b8d8;
}

/* ========================== Banner part css start =========================== */

#banner{
    background: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 330px;
    padding-bottom: 250px;
}

.banner-text{
    text-align: center;
}
.banner-text h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
    color: #ffff;
}
.banner-text h2{
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 40px;
    text-transform: uppercase;
    color: #ffff;
    letter-spacing: 7px;
    
}
.banner-text p{
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 14px;
    color: #ffff;
}

/* ======================== About part css start ======================= */
.about-text{
    text-align: center;
    padding: 60px 60px;
}
.about-text h2{
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 30px;
    color: #444444;
    padding-bottom: 20px;
}
.about-text p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #666666;
}

/* ========================== Service part start ====================== */
#service{
    padding-bottom: 84px;
}
.service-head{
    text-align: center;
    padding-bottom: 20px;
}

.service-head h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #444444;
    text-transform: uppercase;
}    

.service-item{
    width: 328px;
    float: left;
    border: 1px solid #e3e3e3;
    padding: 15px;
    margin-right: 30px;
}
.service-item img{
    width: 100%;
}
.service-text{
    text-align: center;
    padding-top: 15px;
}
.service-text h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700px;
    font-size: 17px;
    color: #666666;
    padding-bottom: 5px;
}
.service-text p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #666666;
    line-height: 22px;
}
.mr-none{
    margin-right: 0;
}

/* ================= Gallery part css start =================== */
#gallery{
    background: #2c2c2c;
    padding-top: 50px;
    padding-bottom: 50px;
}
.gal-head{
    text-align: center;
    padding-bottom: 20px;
}

.gal-head h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #d5d5d5;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}

.gal-head h2::after{
    position: absolute;
    content: '';
    width: 100px;
    height: 1px;
    background: #535353;
    top: 50%;
    transform: translateY(-50%);
    left: -120px;
}
.gal-head h2::before{
    position: absolute;
    content: '';
    width: 100px;
    height: 1px;
    background: #535353;
    top: 50%;
    transform: translateY(-50%);
    right: -120px;
}

.gal-item{
    width: 25%;
    float: left;
}

.gal-item img{
    width: 100%;
}

.gal-button{
    text-align: center;
}

.gal-button a{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: 14px;
    color: #a6a6a6;
    text-transform: uppercase;
    border: 1px solid #a6a6a6;
    margin-top: 60px;
    padding: 18px 20px;
}

/* ====================== Journal part start =================== */
#journal{
    padding-top: 80px;
    padding-bottom: 84px;
}
.journal-head{
    padding-bottom: 30px;
    text-align: center;
}
.journal-head h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #444444;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}

.journal-head h2::after{
    position: absolute;
    content: '';
    width: 100px;
    height: 1px;
    top: 50%;
    transform: translateY(-50%);
    left: -115px;
    background: #d9d9d9;
}
.journal-head h2::before{
    position: absolute;
    content: '';
    width: 100px;
    height: 1px;
    top: 50%;
    transform: translateY(-50%);
    right: -115px;
    background: #d9d9d9;
}
.journal-item{
    width: 358px;
    float: left;
    border: 1px solid #e3e3e3;
    margin-right: 30px;
}
.journal-item-top{
    text-align: center;
}
.journal-item-top h3{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 16px;
    color: #444444;
    padding-top: 20px;
    padding-bottom: 10px;
}
.journal-item-top h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #999999;
    padding-bottom: 20px;
}
.journal-item img{
    width: 100%;
}
.journal-item-bottom p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #666666;
    padding: 25px;
    line-height: 22px;
}
.journal-item-bottom h5{
    padding-bottom: 25px;
    padding-left: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #999999;
    position: relative;
}
.journal-item-bottom h5::after {
	position: absolute;
	content: '';
	width: 87px;
	height: 1px;
	background: #28b8d8;
	bottom: 22px;
	left: 25px;
}
.journal-item-bottom span{
    float: right;
    padding-right: 25px;
}

/* ================= Little part css start ============= */
#little{
    padding-bottom: 80px;
}
.little-left{
    width: 570px;
    float: left;
    margin-right: 30px;
}
.little-right{
    width: 570px;
    float: left;
}
.little-head{
    padding-bottom: 25px;
}
.little-head h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #444444;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}
.little-head h2::after{
    position: absolute;
    content: '';
    width: 100px;
    height: 1px;
    top: 50%;
    transform: translateY(-50%);
    right: -120px;
    background: #d9d9d9;
}

.little-left-img{
    width: 195px;
    margin-right: 28px;
    float: left;
}
.little-left-img img{
    width: 100%;
}  
.little-left-text{
    width: 347px;
    float: left;
}
.little-left-text h5{
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 18px;
    color: #666666;
    padding-bottom: 25px;
}
.little-left-text p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #666666;
    line-height: 24px;
}

.little-right-img{
    width: 100px;
    float: left;
    text-align: center;
}
.little-right-text{
    width: 470px;
    float: left;
    margin-bottom: 25px;
}
.little-right-text h3{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 17px;
    color: #444444;
    padding-bottom: 15px;
}
.little-right-text p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #666666;
}

/* ===================== Footer part start ========================= */
#footer{
    background: #373737;
    padding-top: 68px;
    padding-bottom: 68px;
}

.footer-item{
    width: 25%;
    float: left;
   
   
}

.footer-head h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #f0f0f0;
    text-transform: uppercase;
    padding-bottom: 25px;
}
.footer-content h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #cacaca;
    line-height: 24px;
    padding-bottom: 25px;
    padding-right: 10px;
}
.footer-address ul li{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #cacaca;
    line-height: 24px;
}
.footer-content h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #cacaca;
}

/* ============= copyright part start =========== */

#copyright{
    background: #333333;
    padding-top: 40px;
    padding-bottom: 40px;
}

.copyright-text p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #cacaca;
}